<app-message>
    <header>Elements Components</header>
    Semantic UI Elements components consists of [Button, Container, Divider, Flag, Header, Icon, Image, Input, Label, List, Loader, Placeholder, Rail, Reveeal, Segment and Step]
</app-message>

<app-divider>Placeholder Component</app-divider>
<app-placeholder [header]="true" [lines]="5"></app-placeholder>

<app-divider>Segmenmt Component</app-divider>
<app-segment>
    <header>
        <i class="search icon"></i>
        We don't have any documents matching your query
    </header>
    <div class="inline">
        <div class="ui primary button">Clear Query</div>
        <div class="ui button">Add Document</div>
    </div>
</app-segment>